__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/

.pytest_cache/
.coverage
.coverage.*
htmlcov/
.nox/
.tox/

.mypy_cache/
.pytype/
.ruff_cache/
.dmypy.json
.pyre/

.ipynb_checkpoints/

.vscode/
.idea/
.DS_Store
Thumbs.db

*.log
*.tmp
*.bak


*.pt
*.pth
*.ckpt

*.onnx
*.tflite


data/*
!data/.gitkeep

outputs/*
!outputs/.gitkeep
eyem/
musc/
semi-simulated-EEGEOG-dataset/
A semi-simulated EEGEOG dataset for the comparison of EOG artifact rejection techniques.zip